<div id="left" class="row";>
	<h3 style="color: #AB2C2C">Player of the Week</h3>
	<%= image_tag("images/jack.jpg", wiph: "180", height: "250") %><br />

	<dl class= "dl-horizontal text-left">
		<dt>Name: </dt><dd>Jack Bailey</dd>
		<dt>Position: </dt><dd>Midfielder</dd>
		<dt>Number: </dt><dd>1</dd>
		<dt>Nationality: </dt><dd>US</dd>
		<dt>Fun facts: </dt><dd>supports Deez Nuts</dd>
	</dl>
</div>

<div id="right" class="text-center">
	<h3 >Upcoming matches & Events</h3>
	<span>- Match:</span><span style="color: white"> Home/Away - Opponent - Date/Time - Address</span>
</div>


