<div class= "row" style="padding-left: 105px; color: white;">
	<h4>Coach:</h4><span>Martin Morante</span>
	<h4>President:</h4><span>Zach Sharp - zsharp@troy.edu</span>
	<h4>Vice President:</h4><span>Jeremie Murray - jmurray114871@troy.edu</span>
	<p style="margin-top: 50px;">Please contact us if you would like to learn more about the team, schedule a match or donate to the club!</p>
</div>