<div class= "row" style="padding-left: 105px; color: white;">
	<dl class= "dl-horizontal text-left">
		<dt>Coach: </dt><dd>Martin Morante</dd>
		<dt>President: </dt><dd>Zach Sharp - zsharp@troy.edu</dd>
		<dt>Vice President: </dt><dd>Jeremie Murray - jmurray114871@troy.edu</dd>
	</dl>
	<p style="margin-top: 50px; font-size: 12px">Please contact us if you would like to learn more about the team, schedule a match or donate to the club!</p>
</div>