<div id="picture">
	<%=image_tag("images/team.jpg")%>s
</div>
<div class="container">
	<br />
	<p class="par">We are the Troy University Fútbol Club. Our goal is to give opportunities for students to compete in soccer matches at the collegiate level. From the U.S. to China, our team is comprised of multi-talented players from all over the world. We strive to promote good sportsmanship and teamwork. Team tryouts are hosted at the beginning of each semester. Additional tryouts during the semester are by invitation only.</p>
	<p class="par">We are a member of the Southeast Soccer Alliance. As a member of this association, we will compete with teams from colleges all along the Gulf Coast. One of our future goals is to host an annual soccer tournament for our conference. </p>
	<p class="par text-center">Special thanks to our 2015-2016 team sponsor, Jab’s Sporting Goods.</p>
</div>