<div>
	<table class="rwd-table stats-table">
		<tr id="firstrow">
			<th>Date</th>
			<th>Opponent</th>
			<th>Home/Away</th>
			<th>Win/Loss</th>
			<th>Goals</th>
			<th>Assists</th>
			<th>Saves</th>
		</tr>
		<tr>
			<td>08.24.15</td>
			<td>University of North Alabama</td>
			<td>Away</td>
			<td>Win</td>
			<td>Daniel Jones: 1, Jack Bailey: 1</td>
			<td>Leander Rabe: 1, Puran Ale: 1</td>
			<td>Richard Mejia: 14</td>
		</tr>
	</table>
</div>
