<div id="wrapper" class="style1">
	<div id="content">
		<p class="title"><%= image_tag("images/title2.gif", width: "157", height: "16") %></p>
		<%= image_tag("images/spacer.gif", width: "368", height: "37") %><br />							
		<div id="left">
			<div class="block">
				<span>17 december</span><br />
				<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper.
				<%= link_to("#", {class: "more"}) do%>
					<p>more info</p>
				<% end %></p>
			</div>
		</div>
		<div id="left">
			<div class="block">
				<span>17 december</span><br />
				<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper.
				<%= link_to("#", {class: "more"}) do%>
					<p>more info</p>
				<% end %></p>
			</div>
		</div>
	</div>
</div>
