@import "bootstrap-sprockets";
@import "bootstrap";
*{
margin:0px;
padding:0px;
//color: white;
}

img{border:0px;}

html{
width:100%;
height:100%;
background-color:#030303;
}

body{
//width:869px;
padding:0 65px;
margin:0 auto;
height:90%;
position:relative;
background: none;
}

html > body{
min-height:100%;
}

#top{
width:869px;
height:70px;
margin: auto;
background-image:url(images/menu_bg2.gif);
background-position:top left;
background-repeat:repeat-x;
}

#menu{
width:869px;
height:70px;
background-image:url(images/top_bg.gif);
background-position:bottom left;
background-repeat:no-repeat;
}

#menu ul{
background-image:url(images/menu_bg.gif);
background-position:bottom left;
background-repeat:no-repeat;
height:42px;
width:768px;
margin:0 auto;
text-align: center;
}

#menu li{
height:34px;
//float:left;
display:inline-block;
list-style-type:none;
padding:8px 9px 0 13px;
}

#menu li a{
display:block;
height:34px;
float:left;
}

.but1{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but1.jpg);
}

.but2{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but2.jpg);
}

.but3{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but3.jpg);
}

.but4{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but4.jpg);
}

.but5{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but5.jpg);
}

.but6{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but6.jpg);
}

.but7{
background-position:top left;
background-repeat:no-repeat;
background-image:url(images/but7.jpg);
}

.but1:hover,.but2:hover,.but3:hover,.but2:hover,.but4:hover,.but5:hover,.but6:hover,.but7:hover{background-position:bottom left}
#active{
background-position:bottom left
}

#header{
width:869px;
}

//the picture on top

.home{
padding:10px 0 10px 0
//text-align: center;
}



.style1{
margin:8px 0 0 0;
}


.title{
padding:11px 0 0 0;
height:26px;
margin:0 0 8px 0;
background-image:url(images/title_bg.gif);
background-position:top left;
background-repeat:no-repeat;
}

#left{
margin: 0 0 0 0px;
width:442px;
float:left;
padding:0 24px 0 57px;
color: white;
}

#left div{
padding:15px 0 0 0;
width:221px;
float:left;
}

#left p{
width:192px;
padding:13px 0 0 0
}

#left dt{
  color: #AB2C2C;
  text-align: left;
  clear: both;
  margin-right: -60px;
}

#left dd{
  margin-left: -20px;
}

#left dl{
  margin: 10px 0 0 0px;
}

dl{
  margin: 10px 0 0 -15px;
}

dd{
  margin-left: -20px;
}

dt{
  display: block;
  color: #AB2C2C;
  float: left;
  clear: both;
  margin-right: -60px;
}

#right{
  color: #AB2C2C;
  margin: 0 0px 0 400px;
}

.inner_copy{
border:0;
color:#fff;
float:right;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}

.more{
display:block;
color:#AE2A00;
text-decoration:underline;
margin:2px 0 0 0 
}

.more:visited{text-decoration:underline}
.more:hover{text-decoration:none}
.block{
width:368px;
padding:12px 0 10px 1px;
overflow:hidden
}
.block img{
float:left;
border:1px solid #383838;
margin:0 11px 0 0
}
.block span{
background-color:#000000;
line-height:14px;
color:#29705B;
padding:0 15px 0 5px;
margin:2px 0 8px 0;
display:block;
float:left;
}
.block p{
float:left;
width:200px;
}

#changingpart{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	//margin: 0 0 -77px 190px;
  margin: auto;
  margin-bottom: -77px;

  background-image:url(images/wrapper_bg.gif);
  background-position:bottom left;
  background-repeat:no-repeat;
  width:869px;
  background-color:#090909;
  overflow:hidden;
}
.push{
	height: 100px;
}

#myfooter{
width:869px;
bottom:0px;
height:100px;
font-family:Tahoma, sans-serif;
color:#9A9A9A;
font-size:10px;
margin: auto;
}

#myfooter ul{
//background-image:url(images/bot_bg.gif);
width:768px;
height:13px;
margin:20px auto 15px auto;
text-align:center
}

#myfooter ul li{
display:inline;
}
#myfooter ul li a{
color:#9A9A9A;
text-decoration:none;
margin:0 9px;
}
#myfooter ul li a:visited{text-decoration:none}
#myfooter ul li a:hover{text-decoration:underline}
#myfooter p{
width:869px;
text-align:center;
font-size:11px;
}
#myfooter p a{
color:#CE3200;
text-decoration:none
}
#myfooter p a:visited{text-decoration:none}
#myfooter p a:hover{text-decoration:underline}
#about{
width:412px;
float:left;
padding:0 21px 0 17px;
}
.pic{
margin:17px 15px 18px 15px;
border:1px solid #383838
}
#about p{
width:375px;
margin:0 0 15px 15px
}
#history{
width:404px;
float:left
}
#history p{
width:375px;
padding:18px 0 0 0
}

.field_with_errors .message{
	color: red;
}






.rwd-table {
  margin: 1em 0;
  tr:hover:not(#firstrow), tr:hover td:empty{
  	box-shadow: 4px 3px 8px 1px rgba(244,0,0,1) ;
  }
}

.rwd-table {
  background: black;
  border-radius: 2em;
  overflow: hidden;
  th, td {
    margin: .5em 1em;
    text-align: center;
    color: white;
    width: 550px;
    font-size: 14px;
    font-family: Optima;
    padding: 5px !important; 
  }
  th, td:before {
    color: #AB2C2C;
    font-size: 16px;
  }  
}


.stats-table{
  td{
    font-size:11px;
  }
}

#picture{
  text-align: center;
}

.logo{
  background: inherit;
  margin-top: -20px;
}




.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 40%;
      margin: auto;
  }

.carousel-control.right, .carousel-control.left {
  background-image:none;
  color: grey;
  visibility: hidden;
}

.carousel-control.right{
  right:20%;
}

.carousel-control.left{
  left:20%;
}


.carousel-inner{
  margin-top: 30px;
}
.carousel:hover .carousel-control { visibility: visible; }
.carousel-indicators li { visibility: hidden; }


#forfooter {
  min-height: 100%;
  margin: 0 auto -40px;
}

.par{
  width: 869px;
  color: white; font-size: 16px;
  padding: 0 17px 0 10px;
}

h4{
  color: #AB2C2C;
}